body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #31353B;
  line-height: 1.7333333333;
  letter-spacing: 0.02em;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.unit__point {
  color: #FF9900;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6666666667;
  margin-bottom: 20px;
  letter-spacing: 0;
}
.unit__title {
  color: #000;
  font-size: 48px;
  line-height: 1.2083333333;
  margin-bottom: 40px;
}
.unit__text {
  margin-bottom: 60px;
}

.btn {
  display: block;
  width: 200px;
  background-color: #F85A47;
  color: #fff;
  border-radius: 20px;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}

.btn-info {
  background-color: #FF9900;
  width: 100%;
}

.onpage {
  color: #FF9900;
}

.unit-info {
  width: 600px;
}

.header {
  padding: 50px 0 80px;
}
.header__inner {
  max-width: 1000px;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.header__logo {
  font-size: 24px;
  font-weight: bold;
}
.header__list {
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.footer {
  background-color: #DBFFFF;
  padding: 100px 0;
}
.footer__inner {
  max-width: 1000px;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
}
.footer__list {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  -moz-column-gap: 3%;
       column-gap: 3%;
  font-weight: bold;
  margin-bottom: 40px;
}
.footer__copy {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 2.1666666667;
  text-align: right;
}

.living {
  padding-bottom: 120px;
}
.living__inner {
  max-width: 1000px;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 44fr 50fr;
  -moz-column-gap: 6%;
       column-gap: 6%;
  align-items: center;
}

.loved {
  padding-bottom: 120px;
}
.loved__inner {
  max-width: 1000px;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
}
.loved__list {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 6%;
       column-gap: 6%;
  justify-content: space-between;
}
.loved .card {
  border: 1px solid #A3A3A3;
  border-radius: 20px;
  padding: 45px 40px;
}
.loved .card__text {
  margin-bottom: 80px;
}
.loved .card .human {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 6%;
       column-gap: 6%;
  justify-content: start;
  align-items: center;
}
.loved .card .human__name {
  font-weight: bold;
}

.info {
  padding-bottom: 120px;
}
.info__inner {
  max-width: 1000px;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
}
.info__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 6%;
       column-gap: 6%;
}
.info .deals__text {
  margin: 20px 0 40px;
}

.smart {
  padding-bottom: 120px;
}
.smart__inner {
  max-width: 1000px;
  width: 88%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 50fr 44fr;
  -moz-column-gap: 6%;
       column-gap: 6%;
  align-items: center;
}
.smart__pic {
  order: 1;
}
.smart__text {
  order: 2;
}
/*# sourceMappingURL=style.css.map */