@use 'sass:math';

$color-text: #31353B;
$color-main: #FF9900;
$color-accent: #F85A47;
$color-heading: #000;
$color-bg: #DBFFFF;
$color-line: #A3A3A3;

$font-family-base: Helvetica, Arial, sans-serif;

@mixin inner($mw: 1000px, $w: 88%) {
    max-width: $mw;
    width: $w;
    margin-right: auto;
    margin-left: auto;
}

@mixin subtitle {
    color: $color-main;
    font-size: 18px;
    font-weight: bold;
    line-height: math.div(30, 18);
    margin-bottom: 20px;
    letter-spacing: 0;
}

@mixin title {
    color: $color-heading;
    font-size: 48px;
    line-height: math.div(58, 48);
    margin-bottom: 40px;
}

body {
    font-family: $font-family-base;
    font-size: 15px;
    color: $color-text;
    line-height: math.div(26, 15);
    letter-spacing: #{math.div(20,1000)}em;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.unit {
    &__point {
        @include subtitle;
    }

    &__title {
        @include title;
    }

    &__text {
        margin-bottom: 60px;
    }
}

.btn {
    display: block;
    width: 200px;
    background-color: $color-accent;
    color: #fff;
    border-radius: 20px;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}

.btn-info {
    background-color: $color-main;
    width: 100%;
}

.onpage {
    color: $color-main;
}

.unit-info {
    width: 600px;
}

// header

.header {
    padding: 50px 0 80px;

    &__inner {
        @include inner;
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }

    &__logo {
        font-size: 24px;
        font-weight: bold;
    }

    &__list {
        font-weight: bold;
        display: grid;
        grid-auto-flow: column;
        column-gap: 30px;
    }

}

//footer

.footer {
    background-color: #DBFFFF;
    padding: 100px 0;

    &__inner {
        @include inner;
    }

    &__list {
        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        column-gap: percentage(math.div(30, 1000));
        font-weight: bold;
        margin-bottom: 40px;
    }

    &__copy {
        display: block;
        font-size: 12px;
        font-weight: bold;
        line-height: math.div(26, 12);
        text-align: right;
    }
}

// index.html-----------------

//living

.living {
    padding-bottom: 120px;

    &__inner {
        @include inner;
        display: grid;
        grid-template-columns: 44fr 50fr;
        column-gap: percentage(math.div(60, 1000));
        align-items: center;
    }
}

//loved

.loved {
    padding-bottom: 120px;

    &__inner {
        @include inner;
    }

    &__list {
        display: grid;
        grid-auto-flow: column;
        column-gap: percentage(math.div(60, 1000));
        justify-content: space-between;
    }

    .card {
        border: 1px solid $color-line ;
        border-radius: 20px;
        padding: 45px 40px;

        &__text {
            margin-bottom: 80px;
        }

        .human {
            display: grid;
            grid-auto-flow: column;
            column-gap: percentage(math.div(60, 1000));
            justify-content: start;
            align-items: center;

            &__name {
                font-weight: bold;
            }
        }
    }
}




//about.html--------------

//info

.info {
    padding-bottom: 120px;

    &__inner {
        @include inner;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: percentage(math.div(60, 1000));
    }

    .deals {
        &__text {
            margin: 20px 0 40px;
        }
    }

}

//smart

.smart {
    padding-bottom: 120px;

    &__inner {
        @include inner;
        display: grid;
        grid-template-columns: 50fr 44fr;
        column-gap: percentage(math.div(60, 1000));
        align-items: center;
    }

    &__pic {
        order: 1;
    }

    &__text {
        order: 2;
    }
}